@model List<Exchange.DTO.Payment>
@{
    ViewBag.Title = "Withdrawl";
}

<div class="row">
    <div class="col-md-12  widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <div class="panel panel-primary">
                    <h5 class="panel-heading">
                        SELECT CRYPTO CURRENCY
                    </h5>
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">
                            <ol>
                                <li>
                                    <a href="@Url.Action("NewWithDrawl","Dashboard",new {currency="BTC" })" class="h3 use-loader">
                                        <span>
                                            <img src="~/DashboardAssets/img/btc.png" style="width:40px"  />
                                        </span> BITCOIN
                                    </a>
                                  

                                </li>
                                <li style="margin-top:10px">

                                    <a href="@Url.Action("NewWithDrawl","Dashboard",new {currency="ETH" })" class="h3 use-loader">
                                        <span>
                                            <img src="~/DashboardAssets/img/eth.png" style="width:40px" />
                                        </span>
                                        ETHEREUM
                                    </a>
                                </li>
                            </ol>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>
<div class="row">
    <div class="col-md-12 widget-holder">
        <div class="widget-bg">
            <div class="widget-body clearfix">
                <div class="panel panel-primary">
                    <h5 class="panel-heading">
                        Withdrawl History
                    </h5>
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body"  style="width:100%;overflow:auto">
                            <table class="table table-responsive">
                                <thead>
                                    <tr class="" style="font-weight:bold">
                                        <td>Currency</td>
                                        <td>Address</td>
                                        <td>Type</td>
                                        <td>Amount Withdrawn</td>
                                        <td>Amount Sent</td>
                                        <td>Network Fee</td>
                                        <td>Exchange Fee</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.Currency</td>
                                            <td>@(new string(item.ToWalletAddress.Take(10).ToArray()))....</td>
                                            <td>@item.PaymentType</td>
                                            <td>@item.Amount</td>
                                            <td>@item.AmountSent</td>
                                            <td>@((item.NetworkFee == null) ? 0 : item.NetworkFee.Value)</td>
                                            <td>@((item.Fee == null) ? 0 : item.Fee.Value)</td>

                                        </tr>
                                    }
                                    @if (Model.Count == 0)
                                    {

                                        <tr>
                                            <td>No recent withdrawls</td>
                                        </tr>


                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>




