@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Meta -->

    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>NanoPips</title>

    <meta name="keywords" content="Trade Bitcoin, Ethereum, Litecoin & More" />
    <meta name="description" content="Trade Bitcoin, Ethereum, Litecoin & More" />
    <meta name="author" content="websketchtechnologies.com">

    <!-- Favicon -->
    <link rel="shortcut icon" href="~/Assets2/img/favicon.ico" type="image/x-icon" />


    <!-- Css Styles -->
    <link rel="stylesheet" href="~/Assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets2/css/style.css">
    <link rel="stylesheet" href="~/Assets2/css/animate.css">
    <link rel="stylesheet" href="~/Assets2/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Assets2/css/owl.theme.default.min.css">

    <!-- Icon fonts -->
    <link href="~/Assets2/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets2/css/responsive.css" />

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700&display=swap" rel="stylesheet">
    <!-- JQuery-->
    <script src="~/Assets2/js/jquery.js" type="text/javascript"></script>
    <script src="~/Assets2/js/bootstrap.min.js" type="text/javascript"></script>

    <!--[if IE]>
     <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>

        ul.social-media-icons li a {
            color: #131328;
            background-color: #fff;
            width: 50px;
            display: inline-block;
            text-align: center;
            height: 50px;
            line-height: 50px;
            font-size: 18px;
            border-radius: 50px;
            transition: 0.3s;
        }

            ul.social-media-icons li a:hover {
                color: #fff;
                background-color: #66c254;
            }
    </style>
</head>

<body style="font-family: 'Rubik', sans-serif;">


    <header>

        <!-- Top navbar -->

        <nav style="background-color: transparent" class="navbar navbar-fixed-top">
            <div class="container">
                <div class="col-xs-4 col-sm-4">
                    <div class="logo pull-left">
                        <a href="@Url.Action("LandingPage","Account")"><img src="~/android-icon-48x48.png" alt="NanoPips" class="wow fadeInLeft" /></a>
                    </div>
                </div>
                <div class="col-xs-8 col-sm-8">
                    <ul class="nav navbar-nav pull-right wow fadeInRight">
                        <li class="active"><a href="@Url.Action("LandingPage","Account")">Home</a></li>
                        <li><a href="@Url.Action("Help","Account")">Help</a></li>
                        <a href="@Url.Action("Index","Dashboard")"> <button type="button" style="background-color:#082c09;border:none;font-size: 18px;padding:14px 35px" class="btn btn-mine">Sign In</button> </a>
                        <div id="chatwing-button-e1eb5ad0-8010-11e8-b732-a7e76a373fa9"></div>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <!--- section 2 -->
    <section style=" background: rgb(245, 245, 245);  background-repeat: no-repeat;  background-attachment: fixed;">
        <div class="container">
            <div style="background: white; padding-left: 8px;" class="row">
                <div class="heading">Terms and Conditions </div>
                <b>	General Risk Disclosure Introduction</b><br><br>

                This document doesn't seek to explain and warn against all of the risks of dealing in Financial Instruments and Derivatives. It is exclusively created to explain the nature of the risks when dealing in the Financial Instruments and Derivatives provided by the Company and helping you – the Client - to decide upon your investments on an informed basis.
                <br><br>

                <b>Important Information</b>
                <br><br>

                No offer or solicitation to buy or sell securities, securities derivative or futures products of any kind, or any type of trading or investment advice, recommendation or strategy, is made, given or in any manner endorsed by any NanoPips affiliate and the information made available on this Website is not an offer or solicitation of any kind in any jurisdiction where any NanoPips affiliate is not authorized to do business, including but not limited to Japan.<br><br>
                Past performance, whether actual or indicated by historical tests of strategies, is no guarantee of future performance or success. There is a possibility that you may sustain a loss equal to or greater than your entire investment regardless of which asset class you trade (equities, options forex or CFD's ); therefore, you should not invest or risk money that you cannot afford to lose. Options trading is not suitable for all investors. Your account application to trade options will be considered and approved or disapproved based on all relevant factors, including your trading experience. Before trading any asset class, customers must read the relevant risk disclosure statements. System access and trade placement and execution may be delayed or fail due to market volatility and volume, quote delays, system and software errors, Internet traffic, outages and other factors.<br><br>

                <b>Risk Warnings</b><br><br>

                We do not recommend any Client should get involved in any investment, directly or indirectly without understanding the risks concerning each one of the Financial Instruments they are getting involved . Thus, before opening an account, the Client should carefully examine whether investing in a specific Financial Instrument is convenient for him or her, considering his or her circumstances and financial situation. This is not an offer, or solicitation to buy or sell any investment securities or financial instruments in any way.<br><br>

                Below, we aim to highlight some of the risks that the Client may be exposed to when undertaking to trade in the financial Markets. The Client should also understand that this is not an exhaustive list but an attempt to highlight the key risks that they may face;<br><br>

                1.The value of any investment in Financial Instruments may fluctuate downwards or upwards , irrespective of any information which may be presented by the Company, it is even possible that the investment may become of no value.<br><br>

                2. The purchase and/or sale of any Financial Instrument may result in losses and damages. The Client must recognize and accept this risk.<br><br>

                3. Prior performance of a Financial Instrument does not predict its future performance and neither does it guarantee its current value. The historical data does not ensure any safe forecast of the related Financial Instruments.<br><br>

                4. The Client is hereby informed that the transactions performed through the services of the Company are of a speculative nature. This means that in a short time frame large losses may take place, even equaling to the total of Client's funds deposited . In the event that such a situation arises, any negative balances are for the account of the Company and not the Client.<br><br>

                5. As a result of specific situations, e.g. excessive volatility in the market, some Financial Instruments may witness a huge reduction in liquidity. In the event that such a scenario occurs, the Client may not be able to sell/buy the financial instrument, acquire information of their value or transact in the market place for a period of time.<br><br>

                6. All the products offered by the Company are a Derivative Financial Instrument (i.e. option, future, forward, swap, contract for difference) and are therefore a non-delivery spot transaction. It allows the Client to benefit from changes on currency rates, commodity, stock market indices or share prices of the underlying asset.<br><br>

                7. The value of the Derivative Financial Instrument can be influenced by the price of the underlying security or any other external factor such as interest rates etc.<br><br>

                8. An acquisition of a Derivative Financial Instrument should be undertaken only when the Client understands the risks and potential loss of the entire funds invested and that additional charges such as commission and SWAP fees also exist.<br><br>

                9. As highlighted in point (5) under particular circumstances it may be impossible to execute an order.<br><br>

                10. When the quantity of Client's funds does not allow him to hold current positions open anymore, the Client will be notified and invited to deposit additional funds or reduce his or her exposure. This should be carried out by The Client in the time frame required , to avoid the liquidation of positions and the resulting deficit. If the Client fails to deposit funds into the account to cover their obligation, the Company will start to close out orders until such time that the Client account has sufficient funding to hold the remaining positions.<br><br>

                11. The Company may be forced to close the Client positions as a result of the insolvency of the company, bank or broker.<br><br>

                12. The liquidity providers of the Company operate in the same market as the Clients and their own involvement may be contrary to that of the interests of the Client.<br><br>

                13. There is a risk that the Client’s trades in Financial Instruments may become subject to tax and/or any other duty. This can happen for example after changes in legislation or connected to the Client's personal situation. The Company does not guarantee that no tax and/or any other stamp duty will be payable. The Client is responsible for any taxes and/or any other duty which can occur with reference to his trading activity and should seek professional advice if in doubt.<br><br>

                14. The Client should know all the associated costs of traded including the commission rates; SWAP Rates and any other fees that could possibly be incurred by the Client. If needed the Client may request information from the Client Support team to clarify any issues they may have.<br><br>

                15. Trading with some Financial Instruments involves the use of “gearing” or “leverage”. Before engagement in this form of investment, the Client should know, that the high degree of “gearing” or “leverage” is a particular feature of Derivative Financial Instruments. This is bred by the margining system . It generally includes relatively low deposit or margin in terms of the overall contract value. Then a relatively small movement in the underlying market can have a much stronger effect on the Client’s trade. If this market movement is favorable for the Client, they may make substantial gains. On the other side, an adverse market movement can quickly cause the loss of the Clients’ entire deposit capital and may also result in negative balances. As highlighted in point (4), the Client is not liable for negative balances.<br><br>

                16. The trading risk is based on the decision and understanding of the Client. At no time does the company provide any investment advice or recommendations as to when to buy or sell. The company will however publish daily reports on the markets which are for information purposes only. This document endeavors to highlight some of the key risks that a Client is exposed when trading the Derivative Financial Markets but can't claim to highlight all of the risks. The Client is obligated to ensure that the risks they take on through such financial transactions are in line with their own personal circumstances. The Company reserves the right to review this Risk Disclosure statement whenever it deems it necessary. Should you have any further questions regarding the Risk Disclosure you may email our support team for further clarification or assistance.<br><br><br>




                PRIVACY POLICY:<br><br>
                Protecting the privacy and safeguarding the personal and financial information of our clients and website visitors is one of our highest priorities. The following privacy statement explains how NanoPips Ltd. collects and protects your information.<br><br>
                By opening a NanoPips Ltd. account or by using NanoPips Ltd. sites, you give your consent to the collection and use of personal information by NanoPips Ltd. as explained in this Privacy Statement.<br><br>

                COLLECTION OF PERSONAL INFORMATION:
                <br><br>
                We collect information required to open an account, to transact business effectively, and to safeguard your privacy. To do this, we gather information to help us assess your needs and preferences.
                <br><br>
                The information we collect directly from you includes information required to communicate with you, including your name, mailing address, telephone number, e-mail address. And, as required by law to identify who you are, we also collect your Passport/Tax ID number, address, etc. We also collect demographic information when you open an account, including gender, birth date, education, occupation, etc. Our regulatory bodies also require us to assess your trading experience, your approximate annual income, approximate net worth, and available risk capital to assess your financial position.
                <br><br>
                You directly provide to us the majority of information we collect. You do this by completing the account application and related documentation, placing a trade, sending us an e-mail, or submitting information in response to a promotion or special offer. Other ways we obtain information are by (1) observing your usage of the website, and (2) providing products and services to you. This information enables us to offer you products and services that should be of interest to you. The information we collect indirectly from you includes your Internet Protocol (IP) address, browser type, operating system, Internet Service Provider (ISP), time stamps, transactions placed, and banner ads you click. We do this through the use of cookies, which are small text files sent from the web server to your computer. Cookies help us to know you better by providing operational data we can use to aid your interaction with our website and improve its navigation and usability.
                <br><br>
                USAGE OF PERSONAL INFORMATION:
                <br><br>
                We use personal information only as appropriate to provide you quality service and security. For example, NanoPips Ltd. may use the information collected from you to verify your identity and contact information. We may also use this information to establish and set up your trading account, issue an account number and a secure password, maintain your account activity, and contact you with account information. This information helps us improve our services to you, customize your browsing experience and inform you about additional products, services or promotions that may be of interest to you.
                <br><br>
                Should you close your account with us, NanoPips Ltd. will retain your information, but only use it to comply with regulatory requirements and to periodically contact you to offer you the opportunity to reactivate your account or participate in other valuable offers.
                <br><br>
                NanoPips Ltd. may share information with affiliates if the information is required to provide the product or service you have requested or to provide you the opportunity to participate in the products or services our affiliates offer. NanoPips Ltd. also forges partnerships and alliances, which may include joint marketing agreements, with other companies who offer high-quality products and services that might be of value to our clients. In order to ensure that these products and services meet your needs and are delivered in a manner that is useful and relevant, NanoPips Ltd. may share some information with partners, affiliates and alliances. This allows them to better understand the offers that are most relevant and useful. In our strategic relationships, we will require that it be identified that an offer is being extended because of the relationship with us. The use of your personal information is limited to the purposes identified in our relationship with the partner or affiliate.
                <br><br>
                NON-AFFILIATED THIRD PARTIES:
                <br><br>
                NanoPips Ltd. does not sell, license, lease or otherwise disclose your personal information to any third party for any reason, except as described below.
                <br><br>
                NanoPips Ltd. reserves the right to disclose your personal information to third parties where required by law to regulatory, law enforcement or other government authorities. We may also disclose your information as necessary to credit reporting or collection agencies, or when necessary to protect our rights or property.
                <br><br>
                To help us improve our services to you, we may engage another business to help us to carry out certain internal functions such as account processing, fulfillment, client service, client satisfaction surveys or other data collection activities relevant to our business. We may also provide a party with client information from our database to help us to analyze and identify client needs and notify clients of product and service offerings. Use of the information shared is strictly limited to the performance of the task we request and for no other purpose. All third parties with which we share personal information are required to protect personal information in a manner similar to the way we protect personal information. Examples of information shared are identifying information such as name, mailing address, e-mail address, telephone number, and information on account activity.
                <br><br>
                If at any time you choose to purchase a product or service offered by another company, any personal information you share with that company will no longer be controlled under our Privacy Statement. We are not responsible for the privacy policies or the content of sites we link to and have no control of the use or protection of information provided by you or collected by those sites. Whenever you elect to link to a co-branded Web site or to a linked website, you may be asked to provide registration or other information. Please note that the information you are providing is going to a third party, and you should familiarize yourself with the privacy policy provided by that third party.

                <br><br>
                OPTING OUT OF DISCLOSURES OF NON-PUBLIC PERSONAL INFORMATION:
                <br><br>
                You may direct us not to disclose non-public personal information to certain non-affiliated third parties. To opt out of sharing non-public personal information with non-affiliated third parties, please contact a client service representative. An opt out election made by one account owner of a Joint account is applicable to all account owners of the Joint account. An opt-out election must be made for each separate account you hold at NanoPips Ltd.
                <br><br>
                If we propose to share information in a manner not covered in this Privacy Statement, we will notify you of this change by posting an addendum on the website, a notice in the “About Us” section of the website, and if appropriate, provide you an opportunity to opt out of such use.
                <br><br>
                THE SECURITY OF YOUR PERSONAL INFORMATION:
                <br><br>
                We employ leading-edge security software, systems, and procedures to offer you a safe and secure trading environment and protect your personal, financial and trading information.
                <br><br>
                When you open an account with us, you are issued a unique account number, User ID and a password. Only a limited number of NanoPips Ltd. employees who have a need to know this information will have access to your account number, User ID, and password. Remember that you are ultimately responsible for maintaining the secrecy of your account number, User ID, and password. We strongly recommend that you do not disclose this information.
                <br><br>
                USE OF COOKIES:
                <br><br>
                We use cookies to assist us in securing your trading activities and to enhance the performance of our website. Cookies are small text files sent from the web server to your computer. Cookies used by NanoPips Ltd. do not contain any personal information nor do they contain account or password information. They merely allow the site to recognize that a page request comes from someone who has already logged on.
                <br><br>
                NanoPips Ltd. may share website usage information about visitors to the website with reputable advertising companies for targeting our Internet banner advertisements on this site and other sites. For this purpose, pixel tags (also called clear gifs or web beacons) may be used to note the pages you’ve visited. The information collected by the advertising company through the use of these pixel tags is not personally identifiable.
                <br><br>
                To administer and improve the NanoPips Ltd. website, we may use a third party to track and analyze usage and volume statistical information, including page requests, form requests, and click paths. The third party may use cookies to track behavior and may set cookies on behalf of NanoPips Ltd. These cookies do not contain any personally identifiable information.
                <br><br>
                CHANGES TO THIS PRIVACY STATEMENT:
                <br><br>
                In the event NanoPips Ltd. materially changes this Privacy Statement, the revised Privacy Statement will promptly be posted to the websites and we will post a notice on our websites informing you of such changes. You agree to accept posting of a revised Privacy Statement electronically on the website as actual notice to you. Any dispute over our Privacy Statement is subject to this notice and the NanoPips Ltd. Customer Agreement.
                <br><br>
                If you have any questions that this statement does not address, please contact info@NanoPips.com
                <br><br>

            </div>
        </div>
    </section>

    <div class="footer-bottom">
        <div class="container">

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">

                <p>NanoPips is the easiest, fastest and most reliable way to trade Bitcoin, Ethereum, Cryptocurrencies, and more. Made by Tech and Trading Experts.</p>

                <br>
                <p>©2020 NanoPips Ltd. MSB (FINTRAC): M19495736</p>
            </div>

            <div class="col-xs-12 col-sm-1 col-md-1 col-lg-1 left"></div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
                <b style="margin-left: 20px;"> Products </b><br>

                <ul>
                    <li><a href="@Url.Action("Index","Dashboard")">Trade</a></li>


                    <li><a href="@Url.Action("funding","Account")">Funding Options</a></li>


                    <li><a href="@Url.Action("pricing","Account")">Fees</a></li>


                    <li><a href="@Url.Action("Help","Account")">FAQ's</a></li>
                </ul>



            </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 left">
                <b style="margin-left: 20px;">Company</b><br>

                <ul>
                    <li><a href="@Url.Action("terms","Account")">Terms & Privacy</a></li>
                    <li><a href="">KYC Policy</a></li>
                    <li><a href="@Url.Action("contact","Account")">Contact</a></li>
                </ul>



            </div>

            <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 left">
                <b style="margin-left: 20px;">Social</b><br>

                 <ul class="social-media-icons" style="margin: 0; padding: 0; list-style: none;display:flex;">
                     <li><a href="https://www.facebook.com/nanopips/" style="margin-right:20px;"><i class="fa fa-facebook-f" style="padding-top:15px;font-size:20px;"></i></a></li>
                     <li><a href="https://twitter.com/nanopips"><i class="fa fa-twitter" style="padding-top:15px;font-size:20px;"></i></a></li>
              
                 </ul>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pull-center" style="color: #fff">

                    <hr style="color:#fff;height:2px;" />
                    <a href="https://directfx.com/en"> © NanoPips Ltd. | All Rights Reserved </a>
                </div>
            </div>
        </div>
    </div>

    <!-- BootStrap JavaScript ================================================== -->

    <script src="~/Assets2/js/wow.min.js" type="text/javascript"></script>
    <script>new WOW().init();</script>
    <script src="~/Assets2/js/index.js" type="text/javascript"></script>
    <script src="~/Assets2/js/owl.carousel.min.js"></script>
</body>
</html>