@{
    ViewBag.Title = "CreditBalance";
    var ac_id = ViewBag.Id;
}
<div class="row">
    <div class="container">
        <div class="card flat border-bottom">
            <h5 class="card-header">
                @ViewBag.currency > Credit
                <div class="pull-right"><a href="@Url.Action("AccountDetail","Admin", new { acId = ac_id})" style="color:#000">Go back</a> </div>
            </h5>
            <div class="card-body px-0">
                @using (Html.BeginForm("CreditBalance", "Admin", FormMethod.Post, new { id = "credit-form", novalidate = "novalidate" }))
                {
                    @Html.Hidden("currency", ViewBag.currency as object)
                    @Html.Hidden("email", ViewBag.account as object)
                    @Html.Hidden("acId", ac_id as object)
                <div class="col-md-12 row">
                    <div class="form-group col-md-6">
                        <label>Email Address</label>
                        <input type="text" class="form-control disabled" value="@ViewBag.account" name="emailAddress" disabled="disabled" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Enter USD Amount</label>
                        <input type="number" id="creditusd" class="form-control" name="amountusd" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Enter BTC Amount</label>
                        <input type="number" id="creditbtc" class="form-control" name="amountbtc" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Currency</label>
                        <input type="text" value="@ViewBag.currency" disabled="disabled" class="form-control disabled" />
                    </div>
                    <div class="form-group col-md-6">
                        <label>Reason</label>
                        <input type="text" class="form-control " name="reason" required />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Balance</label>
                        <input type="text" value="@ViewBag.walletBalance" disabled="disabled" class="form-control disabled" />
                    </div>
                    <div class="form-group col-md-3">
                        <label>Referral Email</label>
                        <input type="text" value="@ViewBag.walletBalance" disabled="disabled" class="form-control disabled" />
                    </div>
                    <div class="form-group col-md-3">
                        <input type="button" class="btn btn-success" id="saveBtn" value="Save" />
                    </div>
                    <div class="form-group col-md-12">
                        <input type="button" class="btn btn-success" id="creditBtn" value="Credit now" />
                    </div>
                </div>
                }
            </div>

        </div>
    </div>

</div>

@section scripts{
    <script>
        $("#creditBtn").click(function (e) {
            e.preventDefault();
            if ($("#creditusd").val() === '' && $("#creditbtc").val() === '') {
                alert('Currency value should not empty');
            }
            else if ($("#creditusd").val() !== '' && $("#creditbtc").val() !== '') {
                alert('Only credit one currency at a time');
            }
            else {
                var form = $("#credit-form");
                form.submit();
            }
        });
    </script>

}
